---
import "../styles/project.css";
import ProjectCard from "./ProjectCard.astro";
const projects = [
	{
		title: "QUITEL 2023",
		description:
			"Conference management system for QUITEL 2023, featuring registration, schedule management, and abstract submissions.",
		image: "/projects/quitel.png",
		stack: ["React", "NodeJS", "MongoDB", "Typescript", "Express.JS"],
		github: "https://github.com/AgusLasalvia/Congress-2023",
		demo: "https://quitelcongress-showcase.netlify.app/",
		status: "Finished",
	},

	{
		title: "SorvisLater",
		description:
			"A platform for scheduling and managing service appointments with real-time notifications.",
		image: "/projects/sorvis.png",
		stack: ["NodeJS", "Supabase", "Express", "Typescript", "Prisma"],
		github: "https://github.com/AgusLasalvia/SorviceLater",
		demo: "https://sorvislater.netlify.app/login",
		status: "Finished",
	},
	{
		title: "Tambo",
		description:
			"Dairy farm management system built with .NET, handling inventory, production, and sales tracking.",
		image: "/projects/tambo.png",
		stack: ["C#", ".NET", "MVC"],
		github: "https://github.com/AgusLasalvia/Tambo",
		demo: "https://tambo.onrender.com/",
		status: "Finished",
	},
	{
		title: "YourDelivery",
		description:
			"Package delivery management system with real-time order tracking and restaurant integration.",
		image: "/projects/delivery.png",
		stack: ["C#", ".NET", "MVC", "Entity Framework", "CSS", "HTML"],
		github: "https://github.com/AgusLasalvia/YourDelivery",
		demo: "https://yourdelivery.onrender.com/",
		status: "Finished",
	},

	{
		title: "Research Equipment Usage Log",
		description:
			"WebApp for a Research Equipment Usage Log to store the usage and condition of a list of lab equipment",
		image: "/projects/bitacora.png",
		stack: [
			"HTML",
			"CSS",
			"JavaScript",
			"Go",
			"Gin",
			"Bootstrap",
			"SQLite",
			"Linux",
		],
		github: "https://github.com/AgusLasalvia/bitacora-cefi-go",
		demo: "",
		status: "Finished",
	},

	{
		title: "UniWave",
		description:
			"A social network designed for Uruguayan university students to connect, share posts, and interact within an academic community.",
		image: "/projects/uniwave.png",
		stack: [
			"React Native",
			"Expo",
			"Typescript",
			"Go",
			"JWT",
			"Firebase",
			"MinIO",
		],
		github: "https://github.com/AgusLasalvia/uniwave-social-media",
		demo: "https://uniwave.online",
		status: "Finished",
	},
];
---

<div class="project-container">
	{
		projects.map((project) => {
			return (
				<ProjectCard
					title={project.title}
					description={project.description}
					image={project.image}
					stack={project.stack}
					github={project.github}
					demo={project.demo}
					status={project.status}
				/>
			);
		})
	}
</div>
